# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env
.env.*
!.env.example

# VS Code
.vscode/

# React
frontend/node_modules/
frontend/build/
frontend/.env

# Setup Data
setup_data/
firebase-serviceAccount.json